*{
    margin: 0px;
    padding: 0px;
}
body{
    /* background-image: url("../img/imgfundo3.jpg"); */
     /* background-repeat: no-repeat;  */
     background-color: white;
}
.NavMenu{
    display: flex;
    background-color: azure;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
}
.NavMenu a{
    padding: 10px;
    font-size: 20px;
    font-family: arial;
}
a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}
a:hover , #botao:hover{
    transition: 1s;
    background-color: lightblue;
}
#botao{
    cursor: pointer;
    font-size: 20px;
    border: none;
    outline: none;
    color: green;
    padding: 10px;
    background-color: inherit;
    font-family: arial;
}
.BotaoDropDown{
    display: none;
    position: absolute;
}
.mostrar{
    display: flex;
    flex-direction: column;
    background-color: teal;
}
